@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="login-area pt-150 pb-150 text-center">
    <div class="login-form-container ">
        <div class="login-text">
            <h2>Reset Password</h2>
            <span>Please enter your email to reset your password.</span>
        </div>
        <div class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form class="pt-3" method="post" asp-action="ForgetPassword">
                <div class="single-input-item m-auto col-lg-4">
                    <input asp-for="Email" placeholder="Enter your email" />
                    <span class="text text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="single-input-item">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
